body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.menu{
    background-color: cadetblue;
    display: flex;
    justify-content: flex-end;    
}
.menu a{
    text-decoration: none;
    padding: 20px;
    color: white;
}
.menu a:hover{
    background-color: gray;
}
h1{
    font-size: 30px;
}
.color{
    color: orange;
}
.flexiliblity{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}
#small-img img{
    width: 50%;
}
.about-me{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding: 50px;
}
.recipie-text{
    text-align: center;
}
.items img{
    width: 80%;
}
.my-recipies{
    margin: 30px;
}
.items{
    width: 35%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.black{
    background-color: black;
    text-align: center;
    height: 150px;
}
.network{
    color: gray;
}
.white{
    color: white;
}